
<form action="/create" method="post">
    <input type="text" name="name" placeholder="enter your name"/>
    <input type="text" name="lastName" placeholder="enter last name" />
    <input type="password" name="password" placeholder="enter password"/>
    <button type="submit">submit</button>
</form>